<main class="d-flex align-items-center">
  <div class="card" style="width: 700px; height: 547;">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="card-img-top p-4 mx-auto" style="width: 360px;">
    <div class="card-body">
      <h3>error message</h3>
      <p>{{error}}</p>
    </div>
  </div>
</main>